body {
  background-color: #f7f7f7;
}

.main,
.result,
.choose-pick,
.again,
.choice {
  font-family: "Edu SA Beginner", cursive;
  text-align: center;
}

/* game.ejs */
.main {
  font-size: 2.5em;
  line-height: 0.9;
  margin: 3% auto;
}

.jpn {
  font-family: "Noto Serif JP", serif;
}

.choose-pick {
  font-size: 3em;
  margin: 2.5% auto 0 auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
  margin: 0;
  padding: 0;
}

.flex-item {
  background-color: #dfdfdf;
  border: 3px solid #333;

  height: 300px;
  margin: 25px;
  padding: 0;
  width: 300px;
}

.flex-item img {
  width: 100%;
}

.flex-item:hover {
  background-color: lightgrey;
}

.flex-item:active {
  background-color: lightgrey;
  transform: translateY(4px);
}

/* finished.ejs */
.result {
  font-size: 4em;
  margin: 2.5% auto 0 auto;
}

.again {
  font-size: 1.5em;
  margin: 0 auto 2% auto;
}

.choice {
  font-size: 2.5em;
}

.ppH1,
.cpH1 {
  display: none;
}

.ppImg,
.cpImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* footer */
.footer {
  color: #8f8f8f;
  margin-top: 5%;
  margin-bottom: 3%;
  text-align: center;
}

.fa-github {
  color: black;
}

div {
  outline: 1px solid red;
}

@media (min-width: 800px) {
  .laptop-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .vs {
    margin: auto 2%;
  }
}
